<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>

<body style="background-color: rgb(223, 255, 223);">
    <div>

    <div style="width: 600px; height: 550px; border: 4px solid darkgreen; margin-left: 450px; margin-top: 70px;">
        <div id="numBox" style="width: 550px; border: 2px solid black; height: 50px; margin-left: 25px; margin-top: 20px;"></div> <hr>
        <input type="button" value="1" style="width: 180px; height: 70px; margin-left: 15px;" onclick="return calcNum(1)"/>
        <input type="button" value="2" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(2)"/>
        <input type="button" value="3" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(3)"/>
        <input type="button" value="4" style="width: 180px; height: 70px; margin-left: 15px; margin-bottom: 10px;" onclick="return calcNum(4)"/>
        <input type="button" value="5" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(5)"/>
        <input type="button" value="6" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(6)"/>
        <input type="button" value="7" style="width: 180px; height: 70px; margin-left: 15px; margin-bottom: 10px;" onclick="return calcNum(7)"/>
        <input type="button" value="8" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(8)"/>
        <input type="button" value="9" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(9)"/>
        <input type="button" value="0" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum(0)"/>
        <input type="button" value="+" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum('+')"/>
        <input type="button" value="-" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum('-')"/>
        <input type="button" value="*" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum('*')"/>
        <input type="button" value="/" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum('/')"/>
        <input type="button" value="exponent" style="width: 180px; height: 70px; margin-left: 10px; margin-bottom: 10px;" onclick="return calcNum('**')"/>
        <input type="button" value="calculate" style="width: 550px; border: 2px solid black; height: 50px; margin-left: 25px;" onclick="return calcNum('Enter')"/>
    </div>
    <input type="button" value="clear" style="width: 550px; border: 2px solid black; height: 50px; margin-left: 480px; margin-top: 8px;" onclick="return calcNum(21)"/>

    </div>

  <script>
    let eqn = "";  // Initialize the equation variable
    const valid_chars = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, '+', '-', '/', '*', '**'];

    function calcNum(val) {
      if (valid_chars.includes(val)) {  // Check if the input is a valid character
        eqn += String(val);  // Append the value to the equation string
        let numbox = document.getElementById("numBox");
        
        // Replace symbols for display
        numbox.innerHTML = eqn.replace(/\//g, "÷").replace(/\*\*/g, " to the power of ").replace(/\*/g, "x"); // Corrected exponent replacement
        console.log(eqn);  // For debugging
      } else if (val === 'Enter') {
        let data = { equation: eqn };  // Prepare the data object to send in the POST request
        
        // Send the POST request to the server
        fetch("http://127.0.0.1:3000/", {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)  // Send the equation as JSON
  })
  .then(response => response.json())
  .then(response => {
      document.getElementById("numBox").innerHTML = response['message'];
  });

      } else if (val === 21) {  // Clear button functionality
        eqn = "";
        let numbox = document.getElementById("numBox");
        numbox.innerHTML = "";  // Clear the display
      }
    }
  </script>
</body>
</html>
